#tab{
    border: 2px solid black;
    /* margin: 20px;
   padding: 5px; */
    /* font-size: 2rem; */
   font-size: 24px;
   text-align:center;
}
#tab td, #tab th, #tab tr{
    border: 2px solid black;
    /* margin: 10px;
    padding: 5px; */
}
.ic{
size: 20px;
}
.ico1{
    
}