*{
    margin: 0;
    padding: 0;}
body{
    padding: 50px;
}
.container div{ 
    width: 100px;
   height: 100px;
  
}
.container{
    height: 204px;
    width: 512px;
    display: flex;
    
    
    } 
.box1{
    border: 2px solid red;
    background-color: brown;
    border-top-color:  rgba(196, 111, 111, 0.719);
        border-left-color: rgba(196, 111, 111, 0.719);
    position: absolute; 
    top: 50px;
    left: 50px;
    z-index: 0;
}
.box2{
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.582);
    border-top-color:  rgba(97, 105, 168, 0.719);
        border-left-color: rgba(97, 105, 168, 0.719);
    position: absolute; 
    top: 120px;
    left: 120px;
    z-index: 1;
} 
.box3{
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.651);
    bborder-top-color:  rgba(106, 201, 87, 0.719);
    border-left-color:  rgba(106, 201, 87, 0.719);
    position: absolute; 
    top: 190px;
    left: 190px;
    z-index: 2;
}
    /* 
   }
   flex-flow:row;
    justify-content:space-around;
    position: absolute;
  ;
   left: 50px;
    border-bottom: 1px solid rgba(219, 110, 110, 0.699);
    border-left: ; 1px solid rgba(219, 110, 110, 0.699);
    position: relative; 